@model programowanieASP.NET.Models.TravelModel

<h2>Usuń podróż</h2>
<p>Czy na pewno chcesz usunąć podróż "@Model.Nazwa"?</p>

<form asp-action="DeleteConfirmed" asp-controller="Travel" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a class="btn btn-secondary" asp-action="Index">Anuluj</a>
</form>

