@model ContactModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>Dodaj kontakt</h2>
<div>
    ‹form asp-action="Add" method="post">
        <div class="mb-3">
            <label class="form-label" asp->Imie</label>
            <input class="form-check-label" asp-for="Email"></input>
            <spaan asp-validation-for="Email"
        </div>
    </form>
</div>